@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap");
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
.hidden {
  display: none !important;
}

.noScroll {
  overflow: hidden;
}

body {
  background-color: #F5F7FE;
}

.pic-mob {
  display: none;
}

.menu-is-open .header-menu-button {
  height: 15px !important;
}
.menu-is-open .header-menu-button .l2 {
  display: none;
}
.menu-is-open .header-menu-button .l1 {
  rotate: 45deg;
  transform-origin: left;
}
.menu-is-open .header-menu-button .l3 {
  rotate: -45deg;
  transform-origin: left;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87px;
  border-bottom: darkBlue 1px solid;
}
header .header-content {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header .header-content .header-menu-button, header .header-content .header-search, header .header-content .header-buttons {
  display: none;
}
header .header-content .header-menu {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header-content .header-menu a {
  color: #727476;
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
}
header .header-content .header-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
}
header .header-content .header-contacts .header-contacts-phone {
  font-family: "Tektur";
  font-size: 18px;
  font-weight: 500;
  color: #3E5D93;
}
header .header-content .header-cart {
  display: flex;
  flex-direction: row;
}
header .header-content .header-cart p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #3E5D93;
}
header .header-content .header-cart a {
  display: block;
  height: 21px;
  width: 40px;
  position: absolute;
}

.open-menu-container, .open-search-container {
  display: none;
}

.content-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 54px;
  width: 100%;
}
.navigate a {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  color: #727476;
}
.navigate .navigate-back {
  color: #3E5D93;
}

.product-review {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.product-review .product-images {
  width: 55%;
  max-height: 532px;
  display: grid;
  grid-template-areas: "A E" "B E" "C E" "D E";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 5fr;
  gap: 12px;
  margin-right: 40px;
}
.product-review .product-images img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.product-review .product-images .product-images-mini {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.product-review .product-images .product-images-mini img {
  z-index: 1;
}
.product-review .product-images .product-images-mini .black-filter {
  position: absolute;
  top: 0%;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.product-review .product-images .product-images-mini .icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  background-color: rgba(245, 247, 254, 0.4);
}
.product-review .product-images .product-images-mini .icon-background p {
  font-family: Tektur;
  font-size: 29px;
  font-weight: 500;
  background-image: linear-gradient(180deg, #82C0FA -59.62%, #2EB4DE 20.19%, #5C2EDE 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product-review .product-images .product-images-mini .icon-background img {
  width: 70%;
  height: auto;
  cursor: pointer;
}
.product-review .product-images .product-images-full {
  grid-area: E;
  height: 100%;
}
.product-review .product-options .article {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  color: #727476;
}
.product-review .product-options h1 {
  margin-top: 7px;
  font-family: Tektur;
  font-size: 24px;
  font-weight: 500;
  color: #3E5D93;
}
.product-review .product-options .price {
  margin-top: 7px;
  margin-bottom: 25px;
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #727476;
}
.product-review .product-options .options-selector-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.product-review .product-options .options-selector-container .options-name {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
}
.product-review .product-options .options-selector-container .options-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.product-review .product-options .options-selector-container .options-selector input {
  width: 125px;
}
.product-review .product-options .options-selector-container .options-selector .option-item {
  border: solid 1px #727476;
  border-radius: 12px;
  padding: 8px 12px;
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #727476;
}
.product-review .product-options .options-selector-container .options-selector .option-item p {
  cursor: default;
  white-space: nowrap;
}
.product-review .product-options .options-selector-container .options-selector .option-item p, .product-review .product-options .options-selector-container .options-selector .option-item input {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #727476;
}
.product-review .product-options .options-selector-container .options-selector .option-item .option-color {
  margin-right: 10px;
}
.product-review .product-options .options-selector-container .options-selector .option-item .option-color .option-top-color {
  width: 18px;
  height: 9px;
  border-radius: 9px 9px 0px 0px;
}
.product-review .product-options .options-selector-container .options-selector .option-item .option-color .option-bottom-color {
  width: 18px;
  height: 9px;
  border-radius: 0px 0px 9px 9px;
}
.product-review .product-options .options-selector-container .options-selector .option-item .option-color .blue {
  background-color: #3E5D93;
}
.product-review .product-options .options-selector-container .options-selector .option-item .option-color .grey {
  background-color: #727476;
}
.product-review .product-options .options-selector-container .options-selector .option-item .option-color .red {
  background-color: #DC0428;
}
.product-review .product-options .options-selector-container .options-selector .option-item-active {
  background-color: #FFFFFF;
  border: solid 2px #3E5D93;
}
.product-review .product-options .option-buttons {
  display: flex;
  flex-direction: row;
}
.product-review .product-options .option-buttons button {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  color: #3E5D93;
  border-radius: 30px;
  height: 42px;
  width: 48%;
}
.product-review .product-options .option-buttons .option-blue-button {
  background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
  margin-right: 20px;
}
.product-review .product-options .option-buttons .option-white-button {
  border: solid 2px #3E5D93;
}

.product-info {
  margin-top: 80px;
}
.product-info .product-info-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(13, 135, 248, 0.15);
}
.product-info .product-info-menu p {
  text-align: center;
  padding: 0 10px;
  font-family: Tektur;
  font-size: 20px;
  font-weight: 500;
  color: #A2A3A8;
  padding-bottom: 10px;
  cursor: default;
}
.product-info .product-active-menu {
  color: #3E5D93 !important;
  border-bottom: solid 2px #3E5D93;
}
.product-info .product-info-description {
  display: none;
  flex-direction: column;
  margin-top: 20px;
}
.product-info .product-info-description li {
  margin-left: 20px;
  list-style-type: disc;
}
.product-info .product-info-description p, .product-info .product-info-description li {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
  margin-bottom: 5px;
}
.product-info .product-info-equipments {
  display: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.product-info .product-info-equipments > :not(:last-of-type) {
  margin-right: 10px;
}
.product-info .product-info-equipments .equipment-arrow {
  min-width: 20px;
  height: 20px;
}
.product-info .product-info-equipments .equipment-arrow img {
  width: 100%;
  height: 100%;
}
.product-info .product-info-equipments .equipment-item {
  max-width: 16%;
}
.product-info .product-info-equipments .equipment-item .equipment-name {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  color: #3E5D93;
}
.product-info .product-info-equipments .equipment-item p, .product-info .product-info-equipments .equipment-item ul, .product-info .product-info-equipments .equipment-item h1 {
  padding: 0px 10px;
}
.product-info .product-info-equipments .equipment-item li {
  margin-left: 20px;
  list-style-type: disc;
}
.product-info .product-info-equipments .equipment-item p, .product-info .product-info-equipments .equipment-item li {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  color: #727476;
}
.product-info .product-info-equipments .equipment-item .equipment-image {
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 12px;
}
.product-info .product-active-info {
  display: flex;
}

.main-examples {
  width: 100%;
  height: 440px;
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-examples .main-examples-text {
  width: 31%;
}
.main-examples .main-examples-text .main-examples-header {
  height: 19px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-examples .main-examples-text .main-examples-header .main-bracket {
  width: 9px;
  height: 19px;
  border: 2px solid #727476;
  border-right: none;
  margin-right: 12px;
}
.main-examples .main-examples-text .main-examples-header .main-line {
  width: 100%;
  height: 0;
  border-top: 2px solid #3E5D93;
  margin-right: 20px;
}
.main-examples .main-examples-text .main-examples-header p {
  min-width: 155px;
  margin-right: 8px;
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #3E5D93;
}
.main-examples .main-examples-text h2 {
  font-family: Tektur;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2.16px;
  color: #727476;
  margin-top: 20px;
}
.main-examples .main-examples-text h2 span {
  color: #3E5D93;
}
.main-examples .main-examples-content {
  background-image: url("../../img/example.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 68%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.main-examples .main-examples-content .examples-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55px;
}

.main-form-container {
  width: 100%;
  background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
  padding: 80px 20px 90px 20px;
  margin-top: 85px;
}
.main-form-container .main-form {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
}
.main-form-container .main-form .main-form-header {
  width: 49%;
  margin-right: 40px;
}
.main-form-container .main-form .main-form-header p {
  width: 412px;
  font-family: Tektur;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2.16px;
  color: #727476;
}
.main-form-container .main-form .main-form-header p span {
  color: #3E5D93;
}
.main-form-container .main-form .main-form-content {
  width: 49%;
}
.main-form-container .main-form .main-form-content .main-form-title {
  height: 19px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-form-container .main-form .main-form-content .main-form-title .main-bracket {
  width: 9px;
  height: 19px;
  border: 2px solid #727476;
  border-right: none;
  margin-right: 12px;
}
.main-form-container .main-form .main-form-content .main-form-title p {
  min-width: 155px;
  margin-right: 8px;
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #3E5D93;
}

.main-form form {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
.main-form form input {
  border-bottom: 1px solid #727476;
  height: 45px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
}
.main-form form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
.main-form form > div input[type=submit] {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  color: #3E5D93;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5px;
}
.main-form form > div .form-arrow {
  background-color: #FFFFFF;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-form form > div .form-arrow img {
  width: 10px;
  height: 10px;
}
.main-form form > div p {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  color: #727476;
  margin-left: 10px;
}
.main-form form .submit-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  margin-top: 80px;
  background-color: #3E5D93;
  width: 100%;
}
footer .footer-top {
  width: 100%;
  height: 150px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-top .footer-bottom-mob {
  display: none;
}
footer .footer-top .footer-menu a {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-right: 30px;
}
footer .footer-top .footer-menu a > :last-of-type {
  margin-right: 0px;
}
footer .footer-top .footer-links {
  display: flex;
  flex-direction: row;
}
footer .footer-top .footer-links p {
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
}
footer .footer-top .footer-links a {
  margin-right: 20px;
}
footer .footer-top .footer-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 22px;
  width: 44px;
  height: 44px;
}
footer .footer-top .footer-arrow a {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
}
footer .footer-line {
  width: 100%;
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}
footer .footer-line div {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #FFFFFF;
}
footer .footer-bottom {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom a, footer .footer-bottom p {
  font-family: Lato;
  font-size: 8px;
  font-weight: 400;
  color: #FFFFFF;
}

.hidden {
  display: none;
}