@charset "UTF-8";
/* Breakpoints: 1280px, 960px, 375px*/
@media (min-width: 1500px) {
  .catalog-header h1 {
    font-size: 64px;
  }
  .catalog-header img {
    bottom: 80px;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  .catalog-header h1 {
    font-size: 38px;
  }
  .catalog-header img {
    bottom: 55px;
  }
  .filter-position p {
    font-size: 14px !important;
  }
  .catalog-product-card {
    height: auto;
  }
  .catalog-product-card > * {
    margin-bottom: 10px;
  }
  .catalog-product-card .product-card-name {
    font-size: 16px;
  }
  .catalog-product-card .product-card-string .product-card-price {
    font-size: 16px;
  }
  .catalog-product-card .product-card-string .product-card-link a {
    font-size: 14px;
  }
  .footer-menu a {
    font-size: 15px !important;
    margin-right: 15px !important;
  }
}
@media (max-width: 960px) {
  /*Стили для открывающихся меню и поиска*/
  .open-menu-container, .open-search-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: #F5F7FE;
  }
  .open-menu-container .open-menu, .open-menu-container .open-search, .open-search-container .open-menu, .open-search-container .open-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 87%;
    padding: 40px;
    background-color: #F5F7FE;
    position: sticky;
    z-index: 100;
  }
  .open-menu-container .open-menu .menu-container, .open-menu-container .open-search .menu-container, .open-search-container .open-menu .menu-container, .open-search-container .open-search .menu-container {
    display: flex;
    flex-direction: column;
  }
  .open-menu-container .open-menu .menu-container a, .open-menu-container .open-search .menu-container a, .open-search-container .open-menu .menu-container a, .open-search-container .open-search .menu-container a {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    color: #727476;
    margin-bottom: 20px;
  }
  .open-menu-container .open-menu .menu-container p, .open-menu-container .open-search .menu-container p, .open-search-container .open-menu .menu-container p, .open-search-container .open-search .menu-container p {
    font-family: Tektur;
    font-size: 18px;
    font-weight: 500;
    color: #3E5D93;
    margin-bottom: 10px;
  }
  .open-menu-container .open-menu .menu-container .open-menu-links, .open-menu-container .open-search .menu-container .open-menu-links, .open-search-container .open-menu .menu-container .open-menu-links, .open-search-container .open-search .menu-container .open-menu-links {
    display: flex;
    flex-direction: row;
  }
  .open-menu-container .open-menu .menu-container .open-menu-links a, .open-menu-container .open-search .menu-container .open-menu-links a, .open-search-container .open-menu .menu-container .open-menu-links a, .open-search-container .open-search .menu-container .open-menu-links a {
    margin-right: 20px;
  }
  .open-menu-container .open-menu .input-container, .open-menu-container .open-search .input-container, .open-search-container .open-menu .input-container, .open-search-container .open-search .input-container {
    border-bottom: solid 1px #727476;
    padding-bottom: 15px;
  }
  .open-menu-container .open-menu .input-container input, .open-menu-container .open-search .input-container input, .open-search-container .open-menu .input-container input, .open-search-container .open-search .input-container input {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #727476;
  }
  header .header-buttons {
    display: flex !important;
    flex-direction: row;
    width: 60px;
    justify-content: space-between;
  }
  header .header-buttons .header-search {
    display: block !important;
  }
  header .header-buttons .header-menu-button {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
  }
  header .header-buttons .header-menu-button div {
    width: 20px;
    height: 0px;
    border-bottom: solid 1px #3E5D93;
  }
  header .header-menu, header .header-contacts {
    display: none !important;
  }
  .content-container {
    padding: 0 16px;
  }
  .catalog-header {
    margin-top: 20px;
  }
  .catalog-header h1 {
    font-size: 28px;
  }
  .catalog-header img {
    position: static;
    margin: 20px 0px;
  }
  .catalog-header .bg-mob {
    display: block;
  }
  .catalog-header .bg-desktop {
    display: none;
  }
  .catalog-tabs {
    width: 262px;
  }
  .catalog-tabs a {
    font-size: 16px;
  }
  /*Строчка фильтров и сортировки в мобильной версии*/
  .filters-container-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
    padding: 20px 16px;
  }
  .filters-container-mob .sorting-btn-mob, .filters-container-mob .filter-btn-mob {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .filters-container-mob .sorting-btn-mob img, .filters-container-mob .filter-btn-mob img {
    margin-right: 9px;
  }
  .filters-container-mob .sorting-btn-mob p, .filters-container-mob .filter-btn-mob p {
    color: #727476;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
  }
  .catalog-content .catalog-filters {
    display: none;
  }
  .catalog-filters-open .catalog-filters {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F5F7FE;
    width: 100%;
    height: auto;
    padding: 20px;
    overflow-y: hidden;
  }
  .catalog-filters-open .catalog-filters .catalog-filters-header .catalog-filters-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #FFFFFF;
  }
  .catalog-filters-open .catalog-showcase-container {
    display: none;
  }
  .catalog-showcase-container {
    margin-left: 0px;
  }
  .catalog-showcase-container .catalog-sorting-container .catalog-sorting {
    display: none;
  }
  .catalog-showcase-container .catalog-sorting-container .sorting-dropdown {
    left: 16px;
  }
  .catalog-showcase-container .catalog-showcase {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 0;
    gap: 0px;
    -moz-column-gap: 8px;
         column-gap: 8px;
    overflow-y: hidden;
  }
  .catalog-showcase-container .catalog-showcase .catalog-product-card {
    margin-bottom: 8px;
    width: 100%;
    height: auto;
  }
  .catalog-showcase-container .catalog-showcase .catalog-product-card > * {
    margin-bottom: 10px;
  }
  .catalog-showcase-container .catalog-showcase .catalog-product-card .product-card-name {
    font-size: 16px;
  }
  .catalog-showcase-container .catalog-showcase .catalog-product-card .product-card-string {
    flex-direction: column;
    align-items: flex-start;
  }
  .catalog-showcase-container .catalog-showcase .catalog-product-card .product-card-string .product-card-price {
    font-size: 16px;
  }
  footer .footer-top {
    flex-direction: column;
    height: 240px;
    margin-bottom: 0;
  }
  footer .footer-top .footer-top-string {
    display: flex;
    flex-direction: row;
  }
  footer .footer-top .footer-top-string .footer-bottom {
    display: block;
  }
  footer .footer-top .footer-links {
    display: grid;
    grid-template-areas: "A B C D" "E E E E";
    row-gap: 20px;
  }
  footer .footer-top .footer-links p {
    grid-area: E;
  }
  footer .footer-top > img {
    margin-top: 20px;
  }
  footer .footer-top .footer-mob-string {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  footer .footer-top .footer-mob-string .footer-bottom-mob {
    display: block;
    align-self: center;
  }
  footer .footer-top .footer-mob-string .footer-bottom-mob a, footer .footer-top .footer-mob-string .footer-bottom-mob p {
    font-family: Lato;
    font-size: 8px;
    font-weight: 400;
    color: #FFFFFF;
  }
  footer .footer-top .footer-line-mob {
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #FFFFFF;
  }
  footer .footer-top .footer-arrow {
    align-self: flex-end;
    margin-left: 30px;
  }
  footer .footer-line {
    display: none;
  }
  footer .footer-bottom {
    display: none;
  }
  .footer-menu a {
    margin-right: 15px !important;
  }
}
@media (max-width: 375px) {
  .header-logo {
    display: none;
  }
}