@media (min-width: 960px) and (max-width: 1279px) {
  .footer-menu a {
    font-size: 15px !important;
    margin-right: 15px !important;
  }
}
@media (max-width: 960px) {
  .open-menu-container, .open-search-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: #F5F7FE;
  }
  .open-menu-container .open-menu, .open-menu-container .open-search, .open-search-container .open-menu, .open-search-container .open-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 87%;
    padding: 40px;
    background-color: #F5F7FE;
    position: sticky;
    z-index: 100;
  }
  .open-menu-container .open-menu .menu-container, .open-menu-container .open-search .menu-container, .open-search-container .open-menu .menu-container, .open-search-container .open-search .menu-container {
    display: flex;
    flex-direction: column;
  }
  .open-menu-container .open-menu .menu-container a, .open-menu-container .open-search .menu-container a, .open-search-container .open-menu .menu-container a, .open-search-container .open-search .menu-container a {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    color: #727476;
    margin-bottom: 20px;
  }
  .open-menu-container .open-menu .menu-container p, .open-menu-container .open-search .menu-container p, .open-search-container .open-menu .menu-container p, .open-search-container .open-search .menu-container p {
    font-family: Tektur;
    font-size: 18px;
    font-weight: 500;
    color: #3E5D93;
    margin-bottom: 10px;
  }
  .open-menu-container .open-menu .menu-container .open-menu-links, .open-menu-container .open-search .menu-container .open-menu-links, .open-search-container .open-menu .menu-container .open-menu-links, .open-search-container .open-search .menu-container .open-menu-links {
    display: flex;
    flex-direction: row;
  }
  .open-menu-container .open-menu .menu-container .open-menu-links a, .open-menu-container .open-search .menu-container .open-menu-links a, .open-search-container .open-menu .menu-container .open-menu-links a, .open-search-container .open-search .menu-container .open-menu-links a {
    margin-right: 20px;
  }
  .open-menu-container .open-menu .input-container, .open-menu-container .open-search .input-container, .open-search-container .open-menu .input-container, .open-search-container .open-search .input-container {
    border-bottom: solid 1px #727476;
    padding-bottom: 15px;
  }
  .open-menu-container .open-menu .input-container input, .open-menu-container .open-search .input-container input, .open-search-container .open-menu .input-container input, .open-search-container .open-search .input-container input {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #727476;
  }
  header .header-buttons {
    display: flex !important;
    flex-direction: row;
    width: 60px;
    justify-content: space-between;
  }
  header .header-buttons .header-search {
    display: block !important;
  }
  header .header-buttons .header-menu-button {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
  }
  header .header-buttons .header-menu-button div {
    width: 20px;
    height: 0px;
    border-bottom: solid 1px #3E5D93;
  }
  header .header-menu, header .header-contacts {
    display: none !important;
  }
  footer .footer-top {
    flex-direction: column;
    height: 240px;
    margin-bottom: 0;
  }
  footer .footer-top .footer-top-string {
    display: flex;
    flex-direction: row;
  }
  footer .footer-top .footer-top-string .footer-bottom {
    display: block;
  }
  footer .footer-top .footer-links {
    display: grid;
    grid-template-areas: "A B C D" "E E E E";
    row-gap: 20px;
  }
  footer .footer-top .footer-links p {
    grid-area: E;
  }
  footer .footer-top > img {
    margin-top: 20px;
  }
  footer .footer-top .footer-mob-string {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  footer .footer-top .footer-mob-string .footer-bottom-mob {
    display: block;
    align-self: center;
  }
  footer .footer-top .footer-mob-string .footer-bottom-mob a, footer .footer-top .footer-mob-string .footer-bottom-mob p {
    font-family: Lato;
    font-size: 8px;
    font-weight: 400;
    color: #FFFFFF;
  }
  footer .footer-top .footer-line-mob {
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #FFFFFF;
  }
  footer .footer-top .footer-arrow {
    align-self: flex-end;
    margin-left: 30px;
  }
  footer .footer-line {
    display: none;
  }
  footer .footer-bottom {
    display: none;
  }
  .footer-menu a {
    margin-right: 15px !important;
  }
}
@media (max-width: 375px) {
  .header-logo {
    display: none;
  }
}