@media (min-width: 960px) and (max-width: 1279px) {
  .main-showcase {
    grid-template-columns: auto 686px;
  }
  .main-showcase .main-showcase-products > :last-child {
    display: none;
  }
  .text-1 h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 45px !important;
  }
  h3 {
    font-size: 45px !important;
  }
  .main-tiles {
    grid-template-rows: 280px;
  }
  .main-tiles .main-tile {
    padding: 30px !important;
  }
  .main-tiles-adv {
    grid-template-areas: "A" "B" "C" "D";
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .main-tiles-adv .cert-selecters {
    margin-top: 10px !important;
  }
  .footer-menu a {
    font-size: 15px !important;
    margin-right: 15px !important;
  }
}
@media (max-width: 960px) {
  .pic-mob {
    display: block;
  }
  .pic-desktop {
    display: none;
  }
  header .header-buttons {
    display: flex !important;
    flex-direction: row;
    width: 60px;
    justify-content: space-between;
  }
  header .header-buttons .header-search {
    display: block !important;
  }
  header .header-buttons .header-menu-button {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
  }
  header .header-buttons .header-menu-button div {
    width: 20px;
    height: 0px;
    border-bottom: solid 1px #3E5D93;
  }
  header .header-menu, header .header-contacts {
    display: none !important;
  }
  .text-1 p {
    width: 100%;
  }
  .main-category {
    background-image: none;
    flex-direction: column;
    height: auto;
  }
  .main-category .main-category-container {
    display: block;
    width: 100%;
  }
  .main-category .main-category-container .main-category-link {
    width: 100%;
  }
  .main-category .main-category-container .main-category-link a {
    width: 95%;
  }
  .main-category .main-category-pic {
    display: block;
    width: 100%;
    height: 35vw;
    margin: 20px 0;
  }
  .main-category .main-category-pic img {
    width: 100%;
    height: 100%;
  }
  .main-category .angle {
    display: none !important;
  }
  .main-technology {
    grid-template-columns: 100%;
    gap: 23px;
  }
  .main-tiles {
    grid-template-areas: "A" "B" "C" "E" "F" "G" "D";
    grid-template-rows: auto;
  }
  .main-tiles .main-tile-pic {
    max-height: 400px;
  }
  .main-tiles .main-tile-pic img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-tiles .main-tile {
    padding: 30px !important;
  }
  .main-partners {
    flex-direction: column;
    align-items: stretch;
  }
  .main-partners .main-partners-text {
    max-width: 100%;
  }
  .main-partners .main-partners-ticker {
    width: 100%;
    margin-top: 25px;
  }
  .main-products {
    grid-template-columns: auto;
    gap: 20px;
  }
  .main-products .main-product-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-products .main-product-buttons .main-mob-link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }
  .main-products .main-product-buttons .main-mob-link .main-mob-line {
    width: 50px;
    height: 0px;
    border-bottom: 2px solid #3E5D93;
    margin: 0 10px;
  }
  .main-products .main-product-buttons .main-mob-link .main-mob-arrow {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-products .main-product-buttons .main-mob-link .main-mob-arrow img {
    width: 16px;
    height: 16px;
  }
  .main-products .main-product-buttons .main-mob-link a {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    color: #727476;
  }
  .main-showcase {
    grid-template-columns: auto;
  }
  .main-showcase .main-showcase-products {
    justify-content: center;
  }
  .main-showcase .main-showcase-products .main-product-card {
    display: none;
  }
  .main-showcase .main-showcase-products > :first-child {
    display: flex;
  }
  .main-showcase .main-showcase-link {
    display: none;
  }
  .main-advantages {
    grid-template-columns: 100%;
    gap: 23px;
  }
  .main-tiles-adv {
    grid-template-areas: "A" "B" "C" "D";
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .main-tiles-adv .main-tile-cert {
    flex-direction: column;
  }
  .main-tiles-adv .main-tile-cert .cert-text {
    width: 100%;
    margin-bottom: 40px;
  }
  .main-tiles-adv .main-tile-cert .cert-img {
    justify-content: center !important;
  }
  .main-tiles-adv .main-tile-cert .cert-selecters {
    margin-top: 10px !important;
  }
  .main-examples {
    margin-top: 80px;
    flex-direction: column;
    height: auto;
  }
  .main-examples .main-examples-text {
    width: 100%;
  }
  .main-examples .main-examples-content {
    height: 353px;
    align-self: center;
  }
  .main-form-container .main-form {
    flex-direction: column;
  }
  .main-form-container .main-form .main-form-content {
    width: 100%;
    max-width: 480px;
  }
  .main-form-container .main-form form > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-form-container .main-form form > div p {
    margin-left: 0;
  }
  .main-form-container .main-form-header {
    width: 100% !important;
    margin-bottom: 35px;
  }
  .main-form-container .main-form-header p {
    width: 100% !important;
    font-size: 26px !important;
  }
  .main-contact .main-contact-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-contact .main-contact-header .main-contact-line {
    width: 100%;
    margin-bottom: 20px;
  }
  .main-contact .main-contact-header .main-contact-line p {
    min-width: auto;
    margin-right: 10px;
  }
  .main-contact .contact-blocks {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-contact .contact-blocks .contact-block {
    margin-bottom: 20px;
  }
  footer .footer-top {
    flex-direction: column;
    height: 240px;
  }
  footer .footer-top .footer-top-string {
    display: flex;
    flex-direction: row;
  }
  footer .footer-top .footer-top-string .footer-bottom {
    display: block;
  }
  footer .footer-top .footer-links {
    display: grid;
    grid-template-areas: "A B C D" "E E E E";
    row-gap: 20px;
  }
  footer .footer-top .footer-links p {
    grid-area: E;
  }
  footer .footer-top > img {
    margin-top: 20px;
  }
  footer .footer-top .footer-mob-string {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  footer .footer-top .footer-mob-string .footer-bottom-mob {
    display: block;
    align-self: center;
  }
  footer .footer-top .footer-mob-string .footer-bottom-mob a, footer .footer-top .footer-mob-string .footer-bottom-mob p {
    font-family: Lato;
    font-size: 8px;
    font-weight: 400;
    color: #FFFFFF;
  }
  footer .footer-top .footer-line-mob {
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #FFFFFF;
  }
  footer .footer-top .footer-arrow {
    align-self: flex-end;
    margin-left: 30px;
  }
  footer .footer-line {
    display: none;
  }
  footer .footer-bottom {
    display: none;
  }
  .text-1 h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 26px !important;
  }
  h3 {
    font-size: 45px !important;
  }
  .footer-menu a {
    margin-right: 15px !important;
  }
}