@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap");
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
body {
  background-color: #F5F7FE;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87px;
  border-bottom: darkBlue 1px solid;
}
header .header-content {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header .header-content .header-menu {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header-content .header-menu a {
  color: #727476;
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
}
header .header-content .header-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
}
header .header-content .header-contacts .header-contacts-phone {
  font-family: "Tektur";
  font-size: 18px;
  font-weight: 500;
  color: #3E5D93;
}
header .header-content .header-cart {
  display: flex;
  flex-direction: row;
}
header .header-content .header-cart p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #3E5D93;
}
header .header-content .header-cart a {
  display: block;
  height: 21px;
  width: 40px;
  position: absolute;
}

.content-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.text-1 {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.text-1 h1 {
  font-family: "Tektur";
  font-size: 54px;
  font-weight: 600;
  color: #727476;
}
.text-1 h1 span {
  color: #3E5D93;
}
.text-1 p {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  color: #727476;
  width: 556px;
  align-self: flex-end;
}

.main-category {
  background-clip: content-box;
  margin-top: 35px;
  width: 100%;
  height: 545px;
  display: flex;
  flex-direction: column;
  background-image: url("/../img/block-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-category > :last-child {
  align-self: flex-end;
  padding: 23px 0 0 23px;
}
.main-category .main-category-container {
  width: 460px;
  height: 210px;
  border-radius: 30px 0px;
  background-color: #F5F7FE;
  margin: -1px;
  display: grid;
  grid-template-areas: "A B" "C C";
}
.main-category .main-category-container .angle {
  width: 30px;
  height: 30px;
  background: radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0) 30px, #F5F7FE 0px);
}
.main-category .main-category-container .a1 {
  grid-area: B;
  margin-left: 19px;
}
.main-category .main-category-container .a2 {
  grid-area: C;
  margin-top: 19px;
}
.main-category .main-category-container .main-category-link {
  width: 440px;
  height: 190px;
  border-radius: 30px;
  background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: A;
}
.main-category .main-category-container .main-category-link a {
  display: block;
  height: 190px;
  width: 440px;
  position: absolute;
}
.main-category .main-category-container .main-category-link p {
  margin-left: 32px;
  font-family: "Tektur";
  color: #3E5D93;
  font-size: 24px;
  font-weight: 500;
  align-self: center;
}
.main-category .main-category-container .main-category-link .main-category-arrow {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #FFFFFF;
  flex-shrink: 0;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  margin-bottom: 30px;
}

.link-2 {
  grid-template-areas: "B B" "C A" !important;
  grid-template-columns: 20px 440px;
  grid-template-rows: 20px 190px;
  padding: 0 !important;
}
.link-2 .main-category-link {
  justify-self: end;
  align-self: end;
}
.link-2 .angle {
  background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 30px, #F5F7FE 0px) !important;
}
.link-2 .a1 {
  justify-self: end;
  position: relative;
  bottom: 29px;
}
.link-2 .a2 {
  align-self: end;
  position: relative;
  right: 29px;
}

.main-technology {
  width: 100%;
  margin-top: 125px;
  display: grid;
  grid-template-columns: auto 62.5%;
}
.main-technology .main-technology-header {
  height: 19px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-technology .main-technology-header .main-bracket {
  width: 9px;
  height: 19px;
  border: 2px solid #727476;
  border-right: none;
  margin-right: 12px;
}
.main-technology .main-technology-header .main-line {
  width: 100%;
  height: 0;
  border-top: 2px solid #3E5D93;
  margin-right: 20px;
}
.main-technology .main-technology-header p {
  min-width: 110px;
  margin-right: 8px;
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #3E5D93;
}
.main-technology .main-technology-content h2 {
  font-family: Tektur;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2.16px;
  color: #727476;
}
.main-technology .main-technology-content h2 span {
  color: #3E5D93;
}
.main-technology .main-technology-content p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
}

.main-tiles {
  width: 100%;
  display: grid;
  margin-top: 40px;
  grid-template-areas: "A A B B C C" "D E E F F G";
  gap: 8px;
  grid-template-rows: 320px;
}
.main-tiles .t-A {
  grid-area: A;
}
.main-tiles .t-B {
  grid-area: B;
}
.main-tiles .t-C {
  grid-area: C;
}
.main-tiles .t-D {
  grid-area: D;
}
.main-tiles .t-E {
  grid-area: E;
}
.main-tiles .t-F {
  grid-area: F;
}
.main-tiles .t-G {
  grid-area: G;
}
.main-tiles .main-tile {
  border-radius: 30px;
  background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-tiles .main-tile h3 {
  font-family: Tektur;
  font-size: 62px;
  font-weight: 600;
  color: #3E5D93;
}
.main-tiles .main-tile p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
}
.main-tiles .main-tile-pic {
  border-radius: 30px;
}
.main-tiles .main-tile-pic img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.main-partners {
  width: 100%;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-partners .main-partners-text {
  max-width: 470px;
}
.main-partners .main-partners-text h2 {
  font-family: Tektur;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2.16px;
  color: #727476;
}
.main-partners .main-partners-text h2 span {
  color: #3E5D93;
}
.main-partners .main-partners-text p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
}
.main-partners .main-partners-ticker {
  overflow: hidden;
  width: 60%;
  height: 100px;
}
.main-partners .main-partners-ticker > div {
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  animation: ticker 8s linear infinite;
}
.main-partners .main-partners-ticker .main-ticker-element {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}
.main-partners .main-partners-ticker .main-ticker-element img {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-products {
  width: 100%;
  margin-top: 125px;
  display: grid;
  grid-template-columns: auto 50%;
}
.main-products .main-products-header {
  height: 19px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-products .main-products-header .main-bracket {
  width: 9px;
  height: 19px;
  border: 2px solid #727476;
  border-right: none;
  margin-right: 12px;
}
.main-products .main-products-header .main-line {
  width: 100%;
  height: 0;
  border-top: 2px solid #3E5D93;
  margin-right: 20px;
}
.main-products .main-products-header p {
  min-width: 155px;
  margin-right: 8px;
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #3E5D93;
}
.main-products .main-products-content h2 {
  font-family: Tektur;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2.16px;
  color: #727476;
}
.main-products .main-products-content h2 span {
  color: #3E5D93;
}
.main-products .main-products-content p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
  margin-bottom: 20px;
}
.main-products .main-products-content .main-products-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 52px;
}

.main-showcase {
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto 1015px;
  gap: 25px;
}
.main-showcase .main-showcase-link {
  display: grid;
  grid-template-columns: 60px auto 125px;
  gap: 15px;
  align-content: end;
  align-items: center;
}
.main-showcase .main-showcase-link .main-showcase-arrow {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-showcase .main-showcase-link .main-showcase-arrow a {
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
}
.main-showcase .main-showcase-link .main-showcase-line {
  height: 0px;
  border-top: 2px solid #3E5D93;
}
.main-showcase .main-showcase-link a {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
}
.main-showcase .main-showcase-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-product-card {
  width: 325px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-product-card .product-card-img {
  background-color: #FFFFFF;
  width: 325px;
  height: 325px;
  border-radius: 30px;
}
.main-product-card .product-card-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-product-card .product-card-articul {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  color: #727476;
}
.main-product-card .product-card-name {
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #3E5D93;
}
.main-product-card .product-card-string {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-product-card .product-card-string .product-card-price {
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #727476;
}
.main-product-card .product-card-string .product-card-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 116px;
  height: 30px;
}
.main-product-card .product-card-string .product-card-link a {
  display: block;
  height: 30px;
  width: 116px;
  position: absolute;
}
.main-product-card .product-card-string .product-card-link p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  color: #3E5D93;
}
.main-product-card .product-card-string .product-card-link .product-card-arrow {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product-card .product-card-string .product-card-link .product-card-arrow img {
  width: 10px;
  height: 10px;
}