@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap");
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
.hidden {
  display: none !important;
}

.noScroll {
  overflow: hidden;
}

body {
  background-color: #F5F7FE;
}

.pic-mob {
  display: none;
}

.menu-is-open .header-menu-button {
  height: 15px !important;
}
.menu-is-open .header-menu-button .l2 {
  display: none;
}
.menu-is-open .header-menu-button .l1 {
  rotate: 45deg;
  transform-origin: left;
}
.menu-is-open .header-menu-button .l3 {
  rotate: -45deg;
  transform-origin: left;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87px;
  border-bottom: darkBlue 1px solid;
}
header .header-content {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header .header-content .header-menu-button, header .header-content .header-search, header .header-content .header-buttons {
  display: none;
}
header .header-content .header-menu {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header-content .header-menu a {
  color: #727476;
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
}
header .header-content .header-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
}
header .header-content .header-contacts .header-contacts-phone {
  font-family: "Tektur";
  font-size: 18px;
  font-weight: 500;
  color: #3E5D93;
}
header .header-content .header-cart {
  display: flex;
  flex-direction: row;
}
header .header-content .header-cart p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #3E5D93;
}
header .header-content .header-cart a {
  display: block;
  height: 21px;
  width: 40px;
  position: absolute;
}

.open-menu-container, .open-search-container {
  display: none;
}

.content-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.cart-block-container {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-top: 20px;
  padding: 40px;
}
.cart-block-container h1 {
  font-family: Tektur;
  font-size: 24px;
  font-weight: 500;
  color: #3E5D93;
  margin-bottom: 20px;
}
.cart-block-container .cart-item {
  padding: 20px 32px 20px 12px;
  border-radius: 12px;
  border: 1px solid #A2A3A8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cart-block-container .cart-item .cart-equipments-container {
  display: flex;
  flex-direction: row;
}
.cart-block-container .cart-item .cart-equipments-container img {
  -o-object-fit: contain;
     object-fit: contain;
}
.cart-block-container .cart-item .cart-equipments-container .cart-equipments {
  align-self: flex-start;
  margin-left: 20px;
}
.cart-block-container .cart-item .cart-equipments-container .cart-equipments h2 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  color: #727476;
}
.cart-block-container .cart-item .cart-equipments-container .cart-equipments p {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  color: #727476;
  margin-top: 12px;
}
.cart-block-container .cart-item .cart-item-string {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-items: end;
  width: 55%;
}
.cart-block-container .cart-item .cart-item-string .price {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
}
.cart-block-container .cart-item .cart-item-string .amount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-block-container .cart-item .cart-item-string .amount p {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #3E5D93;
  padding: 0 20px;
}
.cart-block-container .cart-item .cart-item-string .delete {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #F5F7FE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-block-container form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.cart-block-container form input {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #727476;
  height: 44px;
  border-bottom: 1px solid #727476;
}
.cart-block-container form .button-container {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  width: 100%;
}
.cart-block-container form .button-container button {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  color: #3E5D93;
  border-radius: 30px;
  width: 50%;
  height: 42px;
  background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
}
.cart-block-container form .button-container p {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  color: #727476;
  margin-left: 20px;
  align-self: center;
}

footer {
  margin-top: 80px;
  background-color: #3E5D93;
  width: 100%;
}
footer .footer-top {
  width: 100%;
  height: 150px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-top .footer-bottom-mob {
  display: none;
}
footer .footer-top .footer-menu a {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-right: 30px;
}
footer .footer-top .footer-menu a > :last-of-type {
  margin-right: 0px;
}
footer .footer-top .footer-links {
  display: flex;
  flex-direction: row;
}
footer .footer-top .footer-links p {
  font-family: Tektur;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
}
footer .footer-top .footer-links a {
  margin-right: 20px;
}
footer .footer-top .footer-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 22px;
  width: 44px;
  height: 44px;
}
footer .footer-top .footer-arrow a {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
}
footer .footer-line {
  width: 100%;
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}
footer .footer-line div {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #FFFFFF;
}
footer .footer-bottom {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom a, footer .footer-bottom p {
  font-family: Lato;
  font-size: 8px;
  font-weight: 400;
  color: #FFFFFF;
}

.hidden {
  display: none;
}