/* Breakpoints: 1280px, 960px, 375px*/
@import "_variable";
@media (min-width: 960px) and (max-width: 1279px) {
    
    .text-1 {

        h1 {
            font-size: 50px;
        }
    }   

    h2 {
         font-size: 45px!important;
    }

    h3 {
        font-size: 45px!important;
    }


    .product-review {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .product-images {
            width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .product-info {

        .product-info-menu {

            -ms-flex-wrap: wrap;

                flex-wrap: wrap;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            p {
               white-space: nowrap; 
            }
        }

        .product-info-equipments {
            overflow: hidden;
            .equipment-item {
                max-width: 24.2%;
                min-width: 24.2%;
            }

            .equipment-arrow {
                position: absolute;
                right: 5px;
            }
        }
    }

    .footer-menu {
        a {
            font-size: 15px!important;
            margin-right: 15px!important;
        }
    }
    
}

@media (max-width: 960px) {

    /*Стили для открывающихся меню и поиска*/
    .open-menu-container, .open-search-container {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        background-color: $bgColor;

        .open-menu, .open-search {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 100%;
            height: 87%;
            padding: 40px;
            background-color: $bgColor;
            position: sticky;
            z-index: 100;

            .menu-container {

                display: -webkit-box;

                display: -ms-flexbox;

                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;

                a {
                    font-family: Lato;
                    font-size: 18px;
                    font-weight: 500;
                    color: $darkGrey;
                    margin-bottom: 20px;
                }
                p {
                    font-family: Tektur;
                    font-size: 18px;
                    font-weight: 500;
                    color: $darkBlue;
                    margin-bottom: 10px;
                }

                .open-menu-links {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    a {
                        margin-right: 20px;
                    }
                }
            }

            .input-container {
                border-bottom: solid 1px $darkGrey;
                padding-bottom: 15px;
                input {
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 400;
                    color: $darkGrey;
                }
            }
        }

        
    }

    header {

        .header-buttons {
            display: -webkit-box!important;
            display: -ms-flexbox!important;
            display: flex!important;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            width: 60px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            .header-search {
                display: block!important;
            }

            .header-menu-button {
                display: -webkit-box!important;
                display: -ms-flexbox!important;
                display: flex!important;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                width: 20px;
                height: 20px;
                div {
                    width: 20px;
                    height: 0px;
                    border-bottom: solid 1px $darkBlue;
                }
                
            }
        }
        .header-menu, .header-contacts {
            display: none!important;
        }
    }

    .product-review {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .product-images {
            width: 100%;
            height: auto;
            max-height: 100%;
                grid-template-areas: "E E E"
            "A B C";
            -ms-grid-columns: (1fr)[3];
            grid-template-columns: repeat(3, 1fr);
            -ms-grid-rows: auto 125px;
            grid-template-rows: auto 125px;

            img {
                -o-object-fit: contain;
                   object-fit: contain;
            }

            .product-images-last  {
                display: none;
            }
        }

        
    }

    .product-options {
        .option-buttons {
            button {
                font-size: 14px!important;
            }
        }
    }

    .product-info {
        .product-info-menu {

            -ms-flex-wrap: nowrap;

                flex-wrap: nowrap;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            p {
            white-space: nowrap; 
            }
        }

        .product-info-equipments {
            overflow: hidden;
            .equipment-item {
                max-width: 49%;
                min-width: 49%;
            }

            .equipment-arrow {
                position: absolute;
                right: 5px;
            }
        }
    }
    
    .main-examples {
        margin-top: 80px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;

        .main-examples-text {
            width: 100%;
        }

        .main-examples-content {
            height: 353px;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            background-image: url('../../img/example-mob.png');
            background-position: center;
            width:100%;

        }
    }
    
    .main-form-container {

        .main-form {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            .main-form-content {
                width: 100%;
                max-width: 480px;
            }

            form > div {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;

                p {
                    margin-left: 0;
                }
            }
        }

        .main-form-header {
            width: 100%!important;
            margin-bottom: 35px;
            p {
                width: 100%!important;
                font-size: 26px!important;
            }
        }

        
    }

    footer {
        .footer-top {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            height: 240px;
            margin-bottom: 0;

            .footer-top-string {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;

                .footer-bottom {
                 display: block;
                }
            }
            
            .footer-links {
                display: -ms-grid;
                display: grid;
                    grid-template-areas: "A B C D" 
                "E E E E";
                row-gap: 20px;

                p {
                    grid-area: E;
                }
            }
        
            > img {
                margin-top: 20px; 
            }

            .footer-mob-string {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                margin-bottom: 10px;

                .footer-bottom-mob {
                    display: block;
                    -ms-flex-item-align: center;
                        -ms-grid-row-align: center;
                        align-self: center;

                    a, p {
                        font-family: Lato;
                        font-size: 8px;
                        font-weight: 400;
                        color: #FFFFFF;
                    }
                }
            }


            .footer-line-mob {
                display: block;
                width: 100%;
                height: 0px;
                border-bottom: 1px solid #FFFFFF;
            }

            .footer-arrow {
                -ms-flex-item-align: end;
                    align-self: flex-end;
                margin-left: 30px;
            }
        }

        .footer-line {
            display: none;
        }

        .footer-bottom {
            display: none;
        }
    }

    .text-1 {
        h1 {
            font-size: 28px;
        }
    }   

    h2 {
         font-size: 26px!important;
    }

    h3 {
        font-size: 45px!important;
    }

    

    .footer-menu {
        a {
            margin-right: 15px!important;
        }

    }
    
}

@media (max-width: 960px){

        p {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3
        }
            
            .footer-links > p {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4
            }
    
}

@media (max-width: 375px) {
    .header-logo {
        display: none;
    }

    h3 {
       font-size: 30px!important; 
    }
}