@import "_variable";
@import "_font";

.hidden {
    display: none!important;
}

.noScroll {
    overflow: hidden;
}

body {
    background-color: $bgColor;
}

.pic-mob {
    display: none;
}

.menu-is-open {
    .header-menu-button {
        height: 15px!important;

        .l2 {
            display: none;
        }

        .l1 { 
            rotate: 45deg;
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    transform-origin: left;
        }

        .l3 {
            rotate: -45deg;
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    transform-origin: left;
        }
    }
}
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 87px;
    border-bottom: darkBlue 1px solid;


    .header-content {
        width: 100%;
        max-width: 1920px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 20px;

        .header-menu-button, .header-search, .header-buttons {
            display: none;
        }

        .header-menu {
            width: 360px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;

            a {
                color: $darkGrey;
                font-family: 'Lato';
                font-weight: 500;
                font-size: 18px;
            }
            
        }

        .header-contacts {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 280px;

            .header-contacts-phone {
                font-family: 'Tektur';
                font-size: 18px;
                font-weight: 500;
                color: $darkBlue;
            }
        }

        .header-cart {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;

            p {
                font-family: 'Lato';
                font-weight: 400;
                font-size: 14px;
                color: $darkBlue;
            }

            a {
                display: block; 
                height: 21px;
                width: 40px;
                position: absolute;
            }
        }

    }

}

.open-menu-container, .open-search-container {
    display: none;
}


.content-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}
.text-1 {
    margin-top: 35px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    h1 {
        font-family: 'Tektur';
        font-size: 54px;
        font-weight: 600;
        color: $darkGrey;
        span {
            color: $darkBlue;
        }
    }

    p {
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        color: $darkGrey;
        width: 556px;
        -ms-flex-item-align: end;
            align-self: flex-end;
    }
}

.main-category {
    background-clip: content-box;
    margin-top: 35px;
    width: 100%;
    height: 545px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../../img/block-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    > :last-child {
        -ms-flex-item-align: end;
            align-self: flex-end;
        padding: 23px 0 0 23px;
    }

    .main-category-pic {
        display: none;
    }

    .main-category-container {
        width: 460px;
        height: 210px;
        border-radius: 30px 0px;
        background-color: $bgColor;
        margin: -1px;
        display: -ms-grid;
        display: grid;
            grid-template-areas: 
            "A B"
            "C C"
        ;

        .angle {
            width: 30px;
            height: 30px;
            background:
                -o-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 30px, $bgColor 0px);
            background:
                radial-gradient(circle at 100% 100%, rgba(0,0,0,0) 30px, $bgColor 0px);
        }

        .a1 {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            grid-area: B;
            margin-left: 19px;
        }

        .link-2 > .a1 {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
        }

        .main-tiles > .a1 {
            -ms-grid-row: 1;
            -ms-grid-column: 5;
            -ms-grid-column-span: 3;
        }

        .main-tiles-adv > .a1 {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
            -ms-grid-column-span: 3;
        }

        .a2 {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-area: C;
            margin-top: 19px;
        }

        .link-2 > .a2 {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
        }

        .main-tiles > .a2 {
            -ms-grid-row: 1;
            -ms-grid-column: 9;
            -ms-grid-column-span: 3;
        }

        .main-tiles-adv > .a2 {
            -ms-grid-row: 3;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
        }

        
        .main-category-link {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            width: 440px;
            height: 190px;
            border-radius: 30px;
            background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            grid-area: A;
            
            a {
                display: block; 
                height: 190px;
                width: 440px;
                position: absolute;
            }

            p {
                margin-left: 32px;
                font-family: "Tektur";
                color: $darkBlue;
                font-size: 24px;
                font-weight: 500;
                -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                    align-self: center;
            }

            .main-category-arrow {
                width: 60px;
                height: 60px;
                border-radius: 30px;
                background-color: #FFFFFF;
                -ms-flex-negative: 0;
                    flex-shrink: 0;
                -ms-flex-item-align: end;
                    align-self: flex-end;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                margin-right: 32px;
                margin-bottom: 30px;
                
            }
        
        }

        
        .link-2 > .main-category-link {
            -ms-grid-row: 2;
            -ms-grid-column: 2
        
        }

        
        .main-tiles > .main-category-link {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3
        
        }

        
        .main-tiles-adv > .main-category-link {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1
        
        }
    }

}

.link-2 {
                   
        grid-template-areas: 
       "B B"
        "C A"!important
    ;

    -ms-grid-columns: 20px 440px;

    grid-template-columns: 20px 440px;
    -ms-grid-rows: 20px 190px;
    grid-template-rows: 20px 190px;
    padding: 0!important;
    
    .main-category-link {
        -ms-grid-column-align: end;
            justify-self: end;
        -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
    }

    .angle {
         background:
            -o-radial-gradient(0 0, circle, rgba(0,0,0,0) 30px, $bgColor 0px)!important;
         background:
            radial-gradient(circle at 0 0, rgba(0,0,0,0) 30px, $bgColor 0px)!important;
    }

    .a1 {
        -ms-grid-column-align: end;
            justify-self: end;
        position: relative;
        bottom: 29px;
    }

    .a2 {
        -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
        position: relative;
        right: 29px;
    }
}

.main-technology {
    width: 100%;
    margin-top: 125px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 62.5%;
    grid-template-columns: auto 62.5%;

    .main-technology-header {

        height: 19px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .main-bracket {
            width: 9px;
            height: 19px;
            border: 2px solid $darkGrey;
            border-right: none;
            margin-right: 12px;
        }

        .main-line {
            width: 100%;
            height: 0;
            border-top: 2px solid $darkBlue;
            margin-right: 20px;
        }
        
        p {
            min-width: 110px;
            margin-right: 8px;
            font-family: Tektur;
            font-size: 18px;
            font-weight: 500;
            color: $darkBlue;
        }
    }

    .main-technology-content {

        
        
        h2 {
            font-family: Tektur;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 2.16px;
            color: $darkGrey;

            span {
                color: $darkBlue;
            }
        }
        
        p {
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            color: $darkGrey;

        }
    }
}

.main-tiles {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
        grid-template-areas: 
        "A A B B C C"
        "D E E F F G"
    ;
    gap: 8px;
    -ms-grid-rows: 320px;
    grid-template-rows: 320px;

    .t-A {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: A;
    }

    .link-2 > .t-A {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .main-tiles > .t-A {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .main-tiles-adv > .t-A {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .t-B {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: B;
    }

    .link-2 > .t-B {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .main-tiles > .t-B {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
    }

    .main-tiles-adv > .t-B {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }

    .t-C {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: C;
    }

    .link-2 > .t-C {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .main-tiles > .t-C {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
        -ms-grid-column-span: 3;
    }

    .main-tiles-adv > .t-C {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .t-D {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: D;
    }

    .main-tiles-adv > .t-D {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    .t-E {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        grid-area: E;
    }

    .t-F {
        -ms-grid-row: 3;
        -ms-grid-column: 7;
        -ms-grid-column-span: 3;
        grid-area: F;
    }

    .t-G {
        -ms-grid-row: 3;
        -ms-grid-column: 11;
        grid-area: G;
    }


    .main-tile {
        @include tile;
    }

    .main-tile-pic {
        @include tilePic;
    }
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }   
    100% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }   

}

@keyframes ticker {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }   
    100% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }   

}

.main-partners {
    width: 100%;
    margin-top: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


    .main-partners-text {
        max-width: 470px;
        
        h2 {
            font-family: Tektur;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 2.16px;
            color: $darkGrey;

            span {
                color: $darkBlue;
            }
        }

        p {
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            color: $darkGrey;
        }

    }

    /*Анимация бегущей строка*/
    .main-partners-ticker {
        overflow: hidden;
        width: 60%;
        height: 100px;
        
        > div {
            width: 200%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-animation: ticker 8s linear infinite;
                    animation: ticker 8s linear infinite;
        }

        .main-ticker-element {
            margin-right: 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
            width: 100%;

            img {
                width: 25%;
                -o-object-fit: contain;
                   object-fit: contain;
            }
        }
    }

}



.main-products {
    width: 100%;
    margin-top: 125px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 50%;
    grid-template-columns: auto 50%;

    .main-products-header {

        height: 19px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .main-bracket {
            width: 9px;
            height: 19px;
            border: 2px solid $darkGrey;
            border-right: none;
            margin-right: 12px;
        }

        .main-line {
            width: 100%;
            height: 0;
            border-top: 2px solid $darkBlue;
            margin-right: 20px;
        }
        
        p {
            min-width: 155px;
            margin-right: 8px;
            font-family: Tektur;
            font-size: 18px;
            font-weight: 500;
            color: $darkBlue;
        }
    }

    .main-products-content {
        
        
        h2 {
            font-family: Tektur;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 2.16px;
            color: $darkGrey;

            span {
                color: $darkBlue;
            }
        }
        
        p {
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            color: $darkGrey;
            margin-bottom: 20px;
        }

        .main-product-buttons {
            .main-mob-link {
                display: none;
            }

            .main-products-arrows {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                width: 52px;
            }
        }
    }
}

.main-showcase {
    width: 100%;
    margin-top: 80px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 15px 1015px;
    grid-template-columns: auto 1015px;
    gap: 25px;
    
    .main-showcase-link {

        display: -ms-grid;

        display: grid;
        -ms-grid-columns: 60px 15px auto 15px 125px;
        grid-template-columns: 60px auto 125px;
        gap: 15px;
        -ms-flex-line-pack: end;
            align-content: end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        

        .main-showcase-arrow {
            background-color: #FFFFFF;
            border-radius: 30px;
            width: 60px;
            height: 60px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            a {
                display: block; 
                height: 60px;
                width: 60px;
                position: absolute;
            }
        }

        .main-showcase-line {
            height: 0px;
            border-top: 2px solid $darkBlue;
        }

        a {
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            color: $darkGrey;
        }
    }


    .main-showcase-products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }
}

/*Карточка товара*/
.main-product-card {
    width: 325px;
    height: 440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    .product-card-img {
        background-color: #FFFFFF;
        width: 325px;
        height: 325px;
        border-radius: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        img {
            -o-object-fit: contain;
               object-fit: contain;
        }


    }

    .product-card-articul {
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        color: $darkGrey;
    }

    .product-card-name {
        font-family: Tektur;
        font-size: 18px;
        font-weight: 500;
        color: $darkBlue;
    }


    .product-card-string {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .product-card-price {
            font-family: Tektur;
            font-size: 18px;
            font-weight: 500;
            color: $darkGrey;
        }

        .product-card-link {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 116px;
            height: 30px;

            a {
                display: block; 
                height: 30px;
                width: 116px;
                position: absolute;
            }
            
            p {
                font-family: Lato;
                font-size: 16px;
                font-weight: 600;
                color: $darkBlue;
            }

            .product-card-arrow {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                background-color: #FFFFFF;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                img {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}


.main-advantages {
    width: 100%;
    margin-top: 125px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 50%;
    grid-template-columns: auto 50%;

    .main-advantages-header {

        height: 19px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .main-bracket {
            width: 9px;
            height: 19px;
            border: 2px solid $darkGrey;
            border-right: none;
            margin-right: 12px;
        }

        .main-line {
            width: 100%;
            height: 0;
            border-top: 2px solid $darkBlue;
            margin-right: 20px;
        }
        
        p {
            min-width: 208px;
            margin-right: 8px;
            font-family: Tektur;
            font-size: 18px;
            font-weight: 500;
            color: $darkBlue;
        }
    }

    .main-advantages-content {
        
        
        h2 {
            font-family: Tektur;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 2.16px;
            color: $darkGrey;

            span {
                color: $darkBlue;
            }
        }
    }
}

.main-tiles-adv {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
        grid-template-areas: 
        "A B B"
        "C C D"
    ;
    gap: 8px;
    -ms-grid-rows: 304px 8px 220px;
    grid-template-rows: 304px 220px;

    .adv-A {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: A;
    }

    .link-2 > .adv-A {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .main-tiles > .adv-A {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .main-tiles-adv > .adv-A {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .adv-B {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: B;
    }

    .link-2 > .adv-B {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .main-tiles > .adv-B {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
    }

    .main-tiles-adv > .adv-B {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }

    .adv-C {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: C;
    }

    .link-2 > .adv-C {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .main-tiles > .adv-C {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
        -ms-grid-column-span: 3;
    }

    .main-tiles-adv > .adv-C {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .adv-D {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: D;
    }

    .main-tiles-adv > .adv-D {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }


    .main-tile-adv {
        @include tile;
    }

    .main-tile-cert {
        @include tile;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .cert-text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 360px;
        }

        .cert-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;

            .cert-img {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                img {
                    margin-right: 8px;
                }
            }

            .cert-selecters {
                margin: 0 auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                width: 30px;

                .cert-selecter {
                    width: 6px;
                    height: 6px;
                    background-color: $darkGrey;
                    border-radius: 3px;
                }

                .cert-selecter-active {
                    background-color: #FFFFFF;
                }
            }
        }
    }

    .main-tile-pic {
        @include tilePic;
    }
}


.main-examples {
    width: 100%;
    height: 440px;
    margin-top: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .main-examples-text {
        width: 31%;

        .main-examples-header {

            height: 19px;
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            .main-bracket {
                width: 9px;
                height: 19px;
                border: 2px solid $darkGrey;
                border-right: none;
                margin-right: 12px;
            }

            .main-line {
                width: 100%;
                height: 0;
                border-top: 2px solid $darkBlue;
                margin-right: 20px;
            }
            
            p {
                min-width: 155px;
                margin-right: 8px;
                font-family: Tektur;
                font-size: 18px;
                font-weight: 500;
                color: $darkBlue;
            }
        }

        h2 {
            font-family: Tektur;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 2.16px;
            color: $darkGrey;
            margin-top: 20px;

            span {
                color: $darkBlue;
            }
        }
    }

    .main-examples-content {
        background-image: url('../../img/example.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 68%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;

        .examples-arrows {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 55px;
        }
    }

}


.main-form-container {
    width: 100%;
    background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
    padding: 80px 20px 90px 20px;
    margin-top: 85px;

    .main-form {
        margin: 0 auto;
        max-width: 1920px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;

        .main-form-header {
            width: 49%;
            margin-right: 40px;

            p {
                width: 412px;
                font-family: Tektur;
                font-size: 48px;
                font-weight: 600;
                letter-spacing: 2.16px;
                color: $darkGrey;

                span {
                    color: $darkBlue;
                }
            }
        }

        .main-form-content {
            width: 49%;
            
            .main-form-title {

                height: 19px;
                -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                        flex-grow: 1;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
    
                .main-bracket {
                    width: 9px;
                    height: 19px;
                    border: 2px solid $darkGrey;
                    border-right: none;
                    margin-right: 12px;
                }
                  
                p {
                    min-width: 155px;
                    margin-right: 8px;
                    font-family: Tektur;
                    font-size: 18px;
                    font-weight: 500;
                    color: $darkBlue;
                }
            }

        }
    }
}

.main-form {
    
    form {
        margin-top: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        input {
            border-bottom: 1px solid $darkGrey;
            height: 45px;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            color: $darkGrey;
        }
        
        > div {

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-top: 30px;
            
            input[type="submit"] {
                font-family: Lato;
                font-size: 16px;
                font-weight: 600;
                color: $darkBlue;
                border: none;
                width:-webkit-fit-content;
                width:-moz-fit-content;
                width:fit-content;
                margin-right: 5px;
            }

            .form-arrow {
                background-color: #FFFFFF;
                width: 24px;
                min-width: 24px;
                height: 24px;
                border-radius: 12px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                
                img {
                    width: 10px;
                    height: 10px;
                }
            }

            p {
                font-family: Lato;
                font-size: 12px;
                font-weight: 400;
                color: $darkGrey;
                margin-left: 10px;
            }
        }
        .submit-button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

        }
    }
}

.main-contact {
    width: 100%;
    margin-top: 80px;

    .main-contact-header {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        h2 {
            font-family: Tektur;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 2.16px;
            color: $darkGrey;
            span {
                color: $darkBlue;
            }
        }
        .main-contact-line {

            height: 19px;
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            .main-bracket {
                width: 9px;
                height: 19px;
                border: 2px solid $darkGrey;
                border-right: none;
                margin-right: 12px;
            }

            .main-line {
                width: 100%;
                height: 0;
                border-top: 2px solid $darkBlue;
                margin-right: 20px;
            }
            
            p {
                min-width: 155px;
                margin-right: 8px;
                font-family: Tektur;
                font-size: 18px;
                font-weight: 500;
                color: $darkBlue;
            }
        }
    }    
    
    .contact-blocks {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;

        .grad-block {
            background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
        }

        .white-block {
            background-color: #FFFFFF;
            margin: 0!important;
        }
        .contact-block {
            width: 327px;
            height: 177px;
            padding: 20px;
            border-radius: 30px;
            margin-right: 20px;

            .contact-block-header {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                .contact-arrow {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    background-color: #FFFFFF;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    margin-right: 20px;
                }
            }

            .contact-link {
                margin-top: 12px;
                a {
                    margin-right: 20px;
                }
            }

            p {
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                color: $darkGrey;
                margin-top: 12px;
                
                >:first-child {
                    margin-top: 20px;
                }
            }
            
            h1 {
                font-family: Tektur;
                font-size: 24px;
                font-weight: 500;
                color: $darkBlue;
            }


        }
    }
}

footer {
    margin-top: 80px;
    background-color: $darkBlue;
    width: 100%;

    .footer-top {
        width: 100%;
        height: 150px;
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 20px;

        .footer-bottom-mob {
            display: none;
        }

        .footer-menu {

            a {
                font-family: Lato;
                font-size: 18px;
                font-weight: 500;
                color: #FFFFFF;
                margin-right: 30px;

                > :last-of-type {
                    margin-right: 0px;
                }
            }
        }

        .footer-links {

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            p {
                font-family: Tektur;
                font-size: 18px;
                font-weight: 500;
                color: #FFFFFF;
            }
            
            a {
                margin-right: 20px;
            }
        }

        .footer-arrow {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background-color: #FFFFFF;
            border-radius: 22px;
            width: 44px;
            height: 44px;
            
            a {
                display: block;
                width: 44px;
                height: 44px;
                position: absolute;
            }
        }
    }
    .footer-line {
        width: 100%;
        max-width: 1920px;
        padding: 0 20px;
        margin: 0 auto;
        div {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #FFFFFF;
        }
    }

    .footer-bottom {
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
        height: 80px;
        padding: 0px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        a, p {
            font-family: Lato;
            font-size: 8px;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
}



.hidden {
    display: none;
}