@import "_variable";
@import "_font";


body {
    background-color: $bgColor;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87px;
    border-bottom: darkBlue 1px solid;


    .header-content {
        width: 100%;
        max-width: 1920px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;


        .header-menu {
            width: 360px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                color: $darkGrey;
                font-family: 'Lato';
                font-weight: 500;
                font-size: 18px;
            }
            
        }

        .header-contacts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 280px;

            .header-contacts-phone {
                font-family: 'Tektur';
                font-size: 18px;
                font-weight: 500;
                color: $darkBlue;
            }
        }

        .header-cart {
            display: flex;
            flex-direction: row;

            p {
                font-family: 'Lato';
                font-weight: 400;
                font-size: 14px;
                color: $darkBlue;
            }

            a {
                display: block; 
                height: 21px;
                width: 40px;
                position: absolute;
            }
        }

    }

}

.text-1 {
    margin-top: 35px;
    padding: 0 20px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    
    h1 {
        font-family: 'Tektur';
        font-size: 54px;
        font-weight: 600;
        color: $darkGrey;
        span {
            color: $darkBlue;
        }
    }

    p {
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        color: $darkGrey;
        width: 556px;
        align-self: flex-end;
    }
}

.main-category {
    margin-top: 35px;
    padding: 0 20px;
    width: 100%;
    max-width: 1920px;
    height: 545px;
    display: flex;
    flex-direction: column;
    background-image: url("/../img/block-2.png");
}
