@import "_variable";
@import "_font";

.hidden {
    display: none!important;
}

.noScroll {
    overflow: hidden;
}

body {
    background-color: $bgColor;
}

.pic-mob {
    display: none;
}

.menu-is-open {
    .header-menu-button {
        height: 15px!important;

        .l2 {
            display: none;
        }

        .l1 { 
            rotate: 45deg;
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    transform-origin: left;
        }

        .l3 {
            rotate: -45deg;
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    transform-origin: left;
        }
    }
}
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 87px;
    border-bottom: darkBlue 1px solid;


    .header-content {
        width: 100%;
        max-width: 1920px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 20px;

        .header-menu-button, .header-search, .header-buttons {
            display: none;
        }

        .header-menu {
            width: 360px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;

            a {
                color: $darkGrey;
                font-family: 'Lato';
                font-weight: 500;
                font-size: 18px;
            }
            
        }

        .header-contacts {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 280px;

            .header-contacts-phone {
                font-family: 'Tektur';
                font-size: 18px;
                font-weight: 500;
                color: $darkBlue;
            }
        }

        .header-cart {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;

            p {
                font-family: 'Lato';
                font-weight: 400;
                font-size: 14px;
                color: $darkBlue;
            }

            a {
                display: block; 
                height: 21px;
                width: 40px;
                position: absolute;
            }
        }

    }

}

.open-menu-container, .open-search-container {
    display: none;
}


.content-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.cart-block-container {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-top: 20px;
    padding: 40px;
    
    h1 {
        font-family: Tektur;
        font-size: 24px;
        font-weight: 500;
        color: $darkBlue;
        margin-bottom: 20px;
    }

    .cart-item {
        padding:  20px 32px 20px 12px; 
        border-radius: 12px;
        border: 1px solid $lightGrey;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 10px;

        .cart-equipments-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            
            img {
                -o-object-fit: contain;
                   object-fit: contain;
            }

            .cart-equipments {
                -ms-flex-item-align: start;
                    align-self: flex-start;
                margin-left: 20px;

                h2 {
                    font-family: Lato;
                    font-size: 18px;
                    font-weight: 500;
                    color: $darkGrey;
                }

                p {
                    font-family: Lato;
                    font-size: 12px;
                    font-weight: 400;
                    color: $darkGrey;
                    margin-top: 12px;
                }
            }
        }

        .cart-item-string {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: auto auto auto;
            grid-template-columns: auto auto auto;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            justify-items: end;
            width: 55%;
            
            
            .price {
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                color: $darkGrey;
            }

            .amount {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                p {
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 400;
                    color: $darkBlue;
                    padding: 0 20px;
                }
            }

            .delete {
                width: 44px;
                height: 44px;
                border-radius: 22px;
                background-color: #F5F7FE;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
        }

        .cart-item-string > *:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1
        }

        .cart-item-string > *:nth-child(2) {
            -ms-grid-row: 1;
            -ms-grid-column: 2
        }

        .cart-item-string > *:nth-child(3) {
            -ms-grid-row: 1;
            -ms-grid-column: 3
        }
    }

    form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 50%;
        
        input {
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            color: $darkGrey;
            height: 44px;
            border-bottom: 1px solid $darkGrey;
        }

        .button-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin-top: 24px;
            width: 100%;

            button {
                font-family: Lato;
                font-size: 16px;
                font-weight: 600;
                color: $darkBlue;
                border-radius: 30px;
                width: 50%;
                height: 42px;
                background: var(--secondary-bg-gradient, linear-gradient(92deg, rgba(13, 135, 248, 0.15) 1.39%, rgba(124, 231, 255, 0.25) 45.35%, rgba(143, 201, 254, 0.45) 89.31%));
            }

            p {
                font-family: Lato;
                font-size: 12px;
                font-weight: 400;
                color: $darkGrey;
                margin-left: 20px;
                -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                    align-self: center;
            }
        }
    }
}





footer {
    margin-top: 80px;
    background-color: $darkBlue;
    width: 100%;

    .footer-top {
        width: 100%;
        height: 150px;
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 20px;

        .footer-bottom-mob {
            display: none;
        }

        .footer-menu {

            a {
                font-family: Lato;
                font-size: 18px;
                font-weight: 500;
                color: #FFFFFF;
                margin-right: 30px;

                > :last-of-type {
                    margin-right: 0px;
                }
            }
        }

        .footer-links {

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            p {
                font-family: Tektur;
                font-size: 18px;
                font-weight: 500;
                color: #FFFFFF;
            }
            
            a {
                margin-right: 20px;
            }
        }

        .footer-arrow {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background-color: #FFFFFF;
            border-radius: 22px;
            width: 44px;
            height: 44px;
            
            a {
                display: block;
                width: 44px;
                height: 44px;
                position: absolute;
            }
        }
    }
    .footer-line {
        width: 100%;
        max-width: 1920px;
        padding: 0 20px;
        margin: 0 auto;
        div {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #FFFFFF;
        }
    }

    .footer-bottom {
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
        height: 80px;
        padding: 0px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        a, p {
            font-family: Lato;
            font-size: 8px;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
}



.hidden {
    display: none;
}